.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: serif;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 0.75rem;
  font-weight: bold;
}
.logo-img {
  height: 60px;    /* Set the height */
  width: auto;     /* Maintain aspect ratio */
  object-fit: contain;
}
